{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h5>You are about to remove the station:</h5>
        <h3>{{ station.code }}  Lat: {{ station.latitude }}, {{ station.longitude }}</h3>
        <h5>Do you really want to proceed?</h5>
        <a href="{{ path('remove_station', {'stationId': station.nr}) }}" class="btn btn-danger">Yes, remove the station</a>
        <a href="{{ path('edit_station', {'stationId': station.nr}) }}" class="btn btn-success">Edit</a>
        <a href="{{ path('display_all_stations') }}" class="btn btn-dark">Stations list</a>
    </div>



{% endblock %}