{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h5>You are about to remove the investigator:</h5>
        <h3>{{ investigator.surname }}, {{ investigator.firstname }}</h3>
        <h5>Do you really want to proceed?</h5>
        <a href="{{ path('remove_PI', {'principalInvestigatorId': investigator.investigatorid}) }}" class="btn btn-danger">Yes, remove the PI</a>
        <a href="{{ path('edit_principalinvestigator', {'principalInvestigatorId': investigator.investigatorid}) }}" class="btn btn-success">Edit</a>
        <a href="{{ path('principalinvestigators_index') }}" class="btn btn-dark">PI list</a>
    </div>



{% endblock %}