{% block _cruise_trips_widget %}
    <div class="card">
        <div class="card-header">
            <h4>Manage the trips </h4>

        </div>
        <div class="card-body">
            {{ form_widget(form) }}


            <div class="form-group">
                <button type="button" id="add-trip" class="btn btn-primary">Add a trip</button>
            </div>

        </div>
    </div>
{% endblock %}

{% block _cruise_trips_entry_widget %}
    <div class="form-group block-trip" id="block_{{ id }}">

        <div class="row ">

            <div class="col-3">
                {{ form_row(form.startdate) }}
            </div>
            <div class="col-3">
                {{ form_row(form.enddate) }}
            </div>
            <div class="col-4">
                {{ form_row (form.destinationarea) }} {{ form_row(form.tripid) }}

            </div>
            <div class="col-2">

                <button type="button" class="btn btn-danger remove-trip" data-action="delete" data-id="{{ id }}"
                        data-target="#block_{{ id }}">
                    <i class="fa fa-trash fa-2x"></i>
                </button>


                <button type="button" class="btn btn-primary clone-trip" data-action="clone" data-id="{{ id }}"
                        data-target="#block_{{ id }}">
                    <i class="fa fa-clone fa-2x"></i>
                </button>
            </div>
        </div>

        {{ form_widget(form.tripinvestigators) }}

        {{ form_widget(form.tripstations) }}


    </div>


{% endblock %}


{% block _cruise_trips_entry_tripstations_widget %}

    <div class="card bg-secondary" >
        <div class="card-header">
            <div class="row">
                <div class="col-3">STATIONS (<span id="{{ id }}" class="counter">0</span>)</div>
                <div class="col-3">Latitude</div>
                <div class="col-3">Longitude</div>
                <div class="col-3">
                    <p data-toggle="collapse" href="#collapse-station" aria-expanded="true" aria-controls="collapse-station" id="heading-station" class="d-block">
                        <i class="fa fa-chevron-down pull-right" ></i>
                    </p>
                </div>
            </div>
        </div>

        <div id="collapse-station" class="collapse show" aria-labelledby="heading-station">
            <div class="card-body">
                {{ form_widget(form) }}
            </div>
            <div class="form-group">
                <button type="button" id="add-tripstation-to{{ id }}" class="btn btn-light ml-4 mb-3 add-tripstation" data-id="{{ id }}">Add station</button>
            </div>
        </div>

    </div>


    <hr style=" border-top: 3px dashed" >

{% endblock %}

{% block _cruise_trips_entry_tripstations_entry_widget %}
    <div class="form-group block-tripstation" id="block_{{ id }}">
        <div class="row">
            <div class="col-3">
                {{ form_widget(form.code) }}
                {{ form_widget(form.stationnr) }}
            </div>
            <div class="col-3">
                {{ form_widget(form.deflatitude) }}
                {{ form_widget(form.id) }}
            </div>
            <div class="col-3">
                {{ form_widget(form.deflongitude) }}
            </div>
            <div class="col-3">
                <button type="button"  class="remove-trip-station btn btn-danger" data-action="delete" data-id="{{ id }}"
                        data-target="#block_{{ id }}">
                    X
                </button>
            </div>
        </div>


    </div>

{% endblock %}



{% block _cruise_trips_entry_tripinvestigators_widget %}


    <div class="card bg-light" >
        <div class="card-header">
            <div class="row">

                <div class="col-3">INVESTIGATORS (<span id="{{ id }}" class="counter">0</span>)</div>
                <div class="col-2">Surname</div>
                <div class="col-2">First name</div>
                <div class="col-3">Campaign</div>
                <div class="col-2">
                    <p data-toggle="collapse" href="#collapse-investigator" aria-expanded="true" aria-controls="collapse-investigator" id="heading-investigator" class="d-block">
                        <i class="fa fa-chevron-down pull-right" ></i>
                    </p>
                </div>

            </div>
        </div>

        <div id="collapse-investigator" class="collapse show" aria-labelledby="heading-investigator">
            <div class="card-body">
                {{ form_widget(form) }}
            </div>
            <div class="form-group">
                <button type="button" id="add-tripinvestigator-to{{ id }}" class="btn btn-secondary ml-4 mb-3 add-tripinvestigator" data-id="{{ id }}">Add investigator</button>
            </div>
        </div>

    </div>


{% endblock %}

{% block _cruise_trips_entry_tripinvestigators_entry_widget %}
    <div class="form-group block-tripinvestigator" id="block_{{ id }}">
        {#        {% dump(id) %}#}
        <div class="row">
            <div class="col-3">

                {{ form_widget(form.fullname) }}
                {{ form_widget(form.investigatornr) }}
            </div>

            <div class="col-2">
                {{ form_widget(form.surname) }}
                {{ form_widget(form.id) }}
            </div>
            <div class="col-2">
                {{ form_widget(form.firstname) }}
            </div>
            <div class="col-3">
                {{ form_widget(form.campaign) }}
                {{ form_widget(form.campaignnr) }}
            </div>

            <div class="col-1">
                <button type="button"  class="remove-trip-investigator btn btn-danger" data-action="delete" data-id="{{ id }}"
                        data-target="#block_{{ id }}">
                    X
                </button>
            </div>
        </div>
    </div>

{% endblock %}