{#{% block _cruise_campaign_entry_row %}#}
{#    {{ form_widget(form) }}#}
{#{% endblock %}#}


{% block _cruise_campaign_widget %}


    {{ form_widget(form) }}
    <input type="hidden" id="widgets-counter-campaigns" value="0">
    <div class="form-group">
        <button type="button" id="add-campaign" class="btn btn-primary">Add campaign</button>
    </div>


{% endblock %}

{% block _cruise_campaign_entry_widget %}
    <div class="form-group block_cruise_campaign" id="{{ id }}">
{#        <div class="row my-2">#}
{#            <div class="col-10">{{ form_widget(form.imisPlusName) }}</div>#}
{#            <div class="col-1">{{ form_widget(form.campaignid) }}</div>#}
{#            <div class="col-1">#}
{#                <button type="button" id="remove-campaign" class="btn btn-danger" data-action="delete" data-target="#block_{{ id }}">X</button>#}
{#            </div>#}
{#        </div>#}
{#        <div class="row my-2">#}
{#            <div class="col-8">#}
{#                {{ form_widget(form.campaign) }}#}
{#            </div>#}
{#            <div class="col-4">#}
{#                {{ form_widget(form.imisprojectnr) }}#}
{#            </div>#}
{#        </div>#}

        <div class="row">
            <div class="col-8">
                {{ form_widget(form.campaign) }}
                {{ form_widget(form.campaignid) }}
            </div>
            <div class="col-3">
                {{ form_widget(form.imisprojectnr) }}
            </div>
            <div class="col-1">
                <button type="button" id="remove-campaign" class="btn btn-danger" data-action="delete" data-target="#{{ id }}">X</button>
            </div>
        </div>

        <hr style="border-top: 2px dotted">
    </div>

{% endblock %}