{% block _cruise_trips_widget %}
    <div class="card">
        <div class="card-header">
            <h4>Manage the trips </h4>
{#            <input type="hidden" id="widgets-counter-trips" value="0">#}
        </div>
        <div class="card-body">
            {{ form_widget(form) }}


            <div class="form-group">
                <button type="button" id="add-trip" class="btn btn-primary">Add a trip</button>
            </div>

        </div>
    </div>
{% endblock %}

{% block _cruise_trips_entry_widget %}
    <div class="form-group block-trip" id="block_{{ id }}">

        <div class="row ">

            <div class="col-3">
                {{ form_row(form.startdate) }}
            </div>
            <div class="col-3">
                {{ form_row(form.enddate) }}
            </div>
            <div class="col-4">
                {{ form_row (form.destinationarea) }}
            </div>
            <div class="col-2">
                {#                <button type="button" class="btn btn-danger remove-trip" data-action="delete" data-id="{{ id }}"#}
                {#                        data-target="#block_{{ id }}">#}
                {#                    X#}
                {#                </button>#}

                <button type="button" class="btn btn-danger remove-trip" data-action="delete" data-id="{{ id }}"
                        data-target="#block_{{ id }}">
                    <i class="fa fa-trash fa-2x"></i>
                </button>
                <button type="button" class="btn btn-primary clone-trip" data-action="clone" data-id="{{ id }}"
                        data-target="#block_{{ id }}">
                    <i class="fa fa-clone fa-2x"></i>
                </button>
            </div>
        </div>

        {{ form_widget(form.tripinvestigators) }}

        {{ form_widget(form.tripstations) }}


    </div>


{% endblock %}


{% block _cruise_trips_entry_tripstations_widget %}

    <div class="card" style="background-color: #f3a29a">
        <div class="card-header">
            <div class="row">
                <div class="col-3">Station code</div>
                <div class="col-3">Latitude</div>
                <div class="col-3">Longitude</div>
            </div>
        </div>
        <div class="card-body">
            {{ form_widget(form) }}
        </div>
    </div>
    <div class="form-group">
        <button type="button" id="add-tripstation-to{{ id }}" class="btn btn-success add-tripstation" data-id="{{ id }}">Add station</button>
    </div>

    <hr style=" border-top: 3px dashed" >

{% endblock %}

{% block _cruise_trips_entry_tripstations_entry_widget %}
    <div class="form-group block-tripstation" id="block_{{ id }}">
        <div class="row">
            <div class="col-3">
                {{ form_widget(form.code) }}
                {{ form_widget(form.stationnr) }}
            </div>
            <div class="col-3">
                {{ form_widget(form.deflatitude) }}
            </div>
            <div class="col-3">
                {{ form_widget(form.deflongitude) }}
            </div>
            <div class="col-3">
                <button type="button" id="remove-trip-station" class="btn btn-danger" data-action="delete" data-id="{{ id }}"
                        data-target="#block_{{ id }}">
                    X
                </button>
            </div>
        </div>


    </div>

{% endblock %}

{# Here we force the form to not display label 0, 1,... 0only widget in row...#}
{#{% block _cruise_trips_entry_row %}#}
{#    {{ form_widget(form) }}#}
{#{% endblock %}#}

{% block _cruise_trips_entry_tripinvestigators_widget %}

{#    {% dump(form.children) %}#}

    {#    {% if form.children %}#}
    <div class="card" style="background-color: #95c9ec">
        <div class="card-header">
            <div class="row">

                <div class="col-3">INVESTIGATOR</div>
                <div class="col-3">Surname</div>
                <div class="col-3">First name</div>

            </div>
{#            <input type="hidden" id="widgets-counter-tripinvestigators-{{ id }}" value="0">#}
        </div>
        <div class="card-body">
            {{ form_widget(form) }}
        </div>
    </div>
    <div class="form-group">
        <button type="button" id="add-tripinvestigator-to{{ id }}" class="btn btn-success add-tripinvestigator" data-id="{{ id }}">Add investigator</button>
    </div>
{#    <hr style=" border-top: 2px dashed" >#}



    {#    {% endif %}#}



{% endblock %}

{% block _cruise_trips_entry_tripinvestigators_entry_widget %}
    <div class="form-group block-tripinvestigator" id="block_{{ id }}">
        {#        {% dump(id) %}#}
        <div class="row">
            <div class="col-3">
                {#{% if form.vars.data is not null %}#}
                    {#{% set form[fullname] = form.vars.data.investigatornr.surname~' '~ form.vars.data.investigatornr.firstname %}#}
                    {#{{ dump (fullname) }}#}
                {#{% endif %}#}
                {{ form_widget(form.fullname) }}
                {{ form_widget(form.investigatornr) }}
            </div>

            <div class="col-3">
                {{ form_widget(form.surname) }}
            </div>
            <div class="col-3">
                {{ form_widget(form.firstname) }}
            </div>

            <div class="col-3">
                <button type="button" id="remove-trip-investigator" class="btn btn-danger" data-action="delete" data-id="{{ id }}"
                        data-target="#block_{{ id }}">
                    X
                </button>
            </div>
        </div>
    </div>

{% endblock %}