{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
        /*div[id^=block_cruise_trips_] {*/
        /*    margin-bottom: 3px!important;*/
        /*}*/
        /*div[id^=cruise_trips_]>.row>.col-3 {*/
        /*    margin-right: 3px!important;*/
        /*       padding-right: 3px!important;*/
        /*    padding-left: 3px!important;*/
        /*}*/


        /*!*div#cruise_edit_trips {*!*/
        /*!*    border: solid;*!*/
        /*!*}*!*/

        /*div[id^=block_cruise_trips_] {*/
        /*    border: solid;*/
        /*    color:red;*/
        /*}*/

        /*div[id*=tripinvestigators] {*/
        /*    color:blue;*/
        /*}*/



    </style>
{% endblock %}

{% form_theme formCruise with
    [
    'forms/_collection_cruise_campaigns.html.twig',
    _self
    ]
%}

{#{% form_theme formCruise _self %}#}

{% block body %}
    <h2>Create Cruise</h2>
    <div class="container">
        {{ form_start(formCruise) }}
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <div class="card-header">
                        {{ form_label(formCruise.plancode) }}
                    </div>
                    <div class="card-body">
                        {{ form_widget(formCruise.plancode) }}
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-header">
                        {{ form_label(formCruise.principalinvestigator) }}
                    </div>
                    <div class="card-body">
                        {{ form_widget(formCruise.principalinvestigator) }}
                    </div>
                </div>
            </div>
            <div class="col-4">
                <button type="submit" class="btn btn-primary">Submit the new cruise</button>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                {{ form_label(formCruise.campaign) }}
            </div>
            <div class="card-body">
                {{ form_widget(formCruise.campaign) }}
            </div>
        </div>
    </div>
    <div class="container-fluid">
        {{ form_widget(formCruise) }}
    </div>
    {{ form_end(formCruise) }}
{% endblock %}

{% block _cruise_trips_widget %}
    <div class="card">
        <div class="card-header">
            <h4>Manage the trips </h4>
        </div>
        <div class="card-body">
            {{ form_widget(form) }}

            <input type="hidden" id="widgets-counter-trips" value="0">
            <div class="form-group">
                <button type="button" id="add-trip" class="btn btn-primary">Add a trip</button>
            </div>

        </div>
    </div>
{% endblock %}

{% block _cruise_trips_entry_widget %}
    <div class="form-group" id="block_{{ id }}">
        <input type="hidden" id="widgets-counter-tripinvestigators" value="0">
        <div class="row ">

            <div class="col-3">
                {{ form_row(form.startdate) }}
            </div>
            <div class="col-3">
                {{ form_row(form.enddate) }}
            </div>
            <div class="col-4">
                {{ form_row (form.destinationarea) }}
            </div>
            <div class="col-2">
                <button type="button" id="remove-trip" class="btn btn-danger" data-action="delete"
                        data-target="#block_{{ id }}">
                    X
                </button>
            </div>
        </div>

        {{ form_widget(form.tripinvestigators) }}
        <button type="button" class="add-tripinvestigator" class="btn btn-success" data-block="{{ id }}">Add investigator</button>

        {# THIS WILL ONLY BEEN SHOWN IN THE EDIT FORM #}

        {#            <div class="row">#}
        {#                <div class="col-5">First name</div>#}
        {#                <div class="col-5">Surname</div>#}

        {#            </div>#}

        {#            {% for forminvestigator in form.tripinvestigators %}#}
        {#                <div class="row">#}
        {#                    <div class="col-5">{{ form_widget(forminvestigator.firstname)}}</div>#}
        {#                    <div class="col-5">{{ form_widget(forminvestigator.surname)}}</div>#}
        {#                </div>#}
        {#            {% endfor %}#}





    </div>

{% endblock %}

{# Here we force the form to not display label 0, 1,... 0only widget in row...#}
{#{% block _cruise_trips_entry_row %}#}
{#    {{ form_widget(form) }}#}
{#{% endblock %}#}

{% block _cruise_trips_entry_tripinvestigators_widget %}

    {#    {% dump(form.children) %}#}

    {% if form.children %}
        <div class="card" style="background-color: #95c9ec">
            <div class="card-header">
                <div class="row">

                    <div class="col-4">First name</div>
                    <div class="col-4">Surname</div>
                </div>
            </div>
            <div class="card-body">
                {{ form_widget(form) }}
            </div>
        </div>


    {% endif %}



{% endblock %}

{% block _cruise_trips_entry_tripinvestigators_entry_widget %}
    <div class="form-group" id="block_{{ id }}">
        <div class="row">
            <div class="col-4">
                {{ form_widget(form.firstname) }}
            </div>
            <div class="col-4">
                {{ form_widget(form.surname) }}
            </div>
            <div class="col-4">
                <button type="button" id="remove-trip-investigator" class="btn btn-danger" data-action="delete"
                        data-target="#block_{{ id }}">
                    X
                </button>
            </div>
        </div>
    </div>

{% endblock %}



{% block javascripts %}
    <script src="{{ asset('js/addTripsToCruisePlusTripInvestigators.js') }}"></script>
    <script src="{{ asset('js/addCampaignsToCruise.js') }}"></script>
    <script src="{{ asset('js/addTripinvestigatorsToTrip.js') }}"></script>
{% endblock %}