{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
            <div class="card">
                <div class="card-header">
                    {% if mode == 'create' %}
                    <h5>Create new investigator</h5> {% elseif mode == 'edit' %}
                    <h5>Edit investigator</h5><p>{{ investigator.surname }}, {{ investigator.firstname }}</p>
                    {% endif %}
                </div>
                <div class="card-body">
                    {{ form_start(formInvestigator) }}
                    {{ form_row(formInvestigator.fullName) }}
                    <div class="row">
                        <div class="col-5">
                            {{ form_row(formInvestigator.surname) }}
                        </div>
                        <div class="col-5">
                            {{ form_row(formInvestigator.firstname) }}
                        </div>
                        <div class="col-2">
                            {{ form_row(formInvestigator.imisnr) }}
                        </div>
                    </div>
                    {{ form_row(formInvestigator.passengertype) }}

                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">
                        {% if mode == 'edit' %}
                            Confirm edit{% elseif mode == 'create' %}
                            Create investigator {% endif %}
                    </button>
                    {{ form_end(formInvestigator) }}
                </div>
            </div>
    </div>


{% endblock %}

{% block javascripts %}

    {{ encore_entry_script_tags('forms_app') }}

    <script>
        $(document).ready(function () {
            $('#investigators_fullName').select2({
                    placeholder: 'Select a IMIS person',
                    allowClear: true,
                    minimumInputLength:3,
                    ajax: {
                        url: function (params) {
                            return Routing.generate("searchimispersons") + '/' + params.term;
                        },
                        processData: false,
                        dataType: 'json',
                    }
                }
            );

            {% if  mode == 'edit' and imisJson is not null  %}
                var data = {
                    id: 1,
                    text: "{{ imisJson["personrec"]["PersName"] }}"
                };

                var newOption = new Option(data.text, data.id, false, true);
                $('#investigators_fullName').append(newOption);
            {% endif %}

            $('#investigators_fullName').on('select2:select', function (e) {
                $('#investigators_imisnr').val(e.params.data.PersID);
                $('#investigators_surname').val(e.params.data.Surname);
                $('#investigators_firstname').val(e.params.data.Firstname);
            });

            $('#investigators_fullName').on('select2:clear', function (e) {
                $('#investigators_imisnr').val(null);
            });
        });

</script>

{% endblock %}