{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
        div[id^=block_cruise_trips_] {
            margin-bottom: 3px!important;
        }
        div[id^=cruise_trips_]>.row>.col-3 {
            margin-right: 3px!important;
               padding-right: 3px!important;
            padding-left: 3px!important;
        }
    </style>
{% endblock %}

{% form_theme formCruise _self %}

{% block body %}
    <div class="container">
    {{ form_start(formCruise) }}

    {{ form_widget(formCruise) }}
    <button type="submit" class="btn btn-primary">Submit the new cruise</button>

    {{ form_end(formCruise) }}
    </div>

{% endblock %}

{% block _cruise_campaign_widget %}
{#    <p>Assign cruise to campaign</p>#}
    {{ form_widget(form) }}
    <input type="hidden" id="widgets-counter-campaigns" value="0">
    <div class="form-group">
        <button type="button" id="add-campaign" class="btn btn-primary">Add campaign</button>
    </div>

{% endblock %}

{% block _cruise_campaign_entry_widget %}
    <div class="form-group" id="block_{{ id }}">
        <div class="row">
            <div class="col-10">
                {{ form_widget(form) }}
            </div>
            <div class="col-2">
                <button type="button" id="remove-campaign" class="btn btn-danger" data-action="delete" data-target="#block_{{ id }}">X</button>
            </div>
        </div>
    </div>

{% endblock %}

{% block _cruise_campaign_entry_row %}
    {{ form_widget(form) }}
{% endblock %}


{% block _cruise_trips_widget %}
    <p>Manage the trips</p>
    {{ form_widget(form) }}
    <input type="hidden" id="widgets-counter-trips" value="0">
    <div class="form-group">
        <button type="button" id="add-trip" class="btn btn-primary">Add a trip</button>
    </div>

{% endblock %}

{% block _cruise_trips_entry_widget %}
    <div class="form-group" id="block_{{ id }}">
        <div class="row">

            <div class="col-3">
                {{ form_widget(form.startdate) }}
            </div>
            <div class="col-3">
                {{ form_widget(form.enddate) }}
            </div>
            <div class="col-4">
                {{ form_widget (form.destinationarea) }}
            </div>
            <div class="col-2">
                <button type="button" id="remove-trip" class="btn btn-danger" data-action="delete" data-target="#block_{{ id }}">
                    X
                </button>
            </div>
        </div>
        <div class="row">
{#            {% for formtripinvestigator in form.tripinvestigators %}#}
{#                {{ form_widget(formtripinvestigator.firstname) }}#}
{#            {% endfor %}#}
            {{ form_widget(form.tripinvestigators) }}

            {% for forminvestigator in form.tripinvestigators %}
                form_widget(forminvestigator)
            {% endblock %}

        </div>

    </div>

{% endblock %}

{# Here we force the form to not display label 0, 1,... 0only widget in row...#}
{% block _cruise_trips_entry_row %}
    {{ form_widget(form) }}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/addTripsToCruise.js') }}"></script>
    <script src="{{ asset('js/addCampaignsToCruise.js') }}"></script>
{% endblock %}