{% extends 'base.html.twig' %}

{% block body %}

{#   {{dump(app.flashes)}}#}

    {% if  mode == 'edit'  %}
    <div class="container my-2">
        <div class="card">
            <div class="card-header">
                Campaign (IMIS database: {{ imisJson["projectrec"]["ProID"] }})
            </div>
            <div class="card-body">
                {% if imisJson %}
{#                    {{ dump(imisJson["projectrec"]) }}#}
                    <p>Standard title: "{{ imisJson["projectrec"]["StandardTitle"] }}"</p>
                    <p>Original title: "{{ imisJson["projectrec"]["OrigTitle"] }}"</p>
                    <p>Acronym: "{{ imisJson["projectrec"]["Acronym"] }}"</p>

                {% else %} Campaign not in IMIS {% endif %}

            </div>
        </div>


    </div>
    {% endif %}

    <div class="container my-2">
        <div class="card">
            <div class="card-header">
                {% if mode == 'edit' %} Edit campaign
                {% elseif  mode == 'create'%}Create campaign {% endif %}
            </div>

        <div class="card-body">
            {{ form_start(formCampaign) }}

            <div class="row">
                <div class="col-8">
                    {{ form_row(formCampaign.campaign) }}
                </div>
                <div class="col-4">
                    {{ form_row(formCampaign.imisprojectnr) }}

                </div>
            </div>

            {{ form_row(formCampaign.memo) }}


        <button type="submit" class="btn btn-primary">
            {% if mode == 'edit' %}
            Confirm edit{% elseif mode == 'create' %}
            Submit new campaign {% endif %}
        </button>

        {{ form_end(formCampaign) }}

        </div>
    </div>
    </div>


{% endblock %}

{% block javascripts %}
    <script src="/EasyAutocomplete-1.3.5/jquery.easy-autocomplete.js"></script>


    <script src="{{ '/bundles/fosjsrouting/js/router.min.js' }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

    <script>
        // function addAutocompleteForCampaign(){

        $(document).ready(function () {

            /////AUTO COMPLETE FIELD TITLE
            var optionsTitle = {
                url: function(phrase){
                    // return Routing.generate("searchImisProjects", {searchParameter: phrase});
                    return Routing.generate("searchImisProjects") + "/" + phrase;
                },
                getValue: function (element) {
                    return element.StandardTitle;
                },
                ajaxSettings: {
                    dataType: "json",
                    method: "POST",
                    data: {
                        dataType: "json"
                    }
                },

                preparePostData: function(data) {
                    data.phrase = $('#campaign_campaign').val();
                    return data;
                },
                list: {
                    maxNumberOfElements: 10,
                    onChooseEvent: function () {
                        var selectedItemValue = $('#campaign_campaign').getSelectedItemData().ProID;
                        $('#campaign_imisprojectnr').val(selectedItemValue);
                    }
                },

                requestDelay: 400
            };

            ////AUTOCOMPLETE FOR IMIS
            var optionsImis = {
                url: function(phrase) {
                    // console.log( Routing.generate("findImisProject") + "/" + phrase)
                    return Routing.generate("findImisProject") + "/" + phrase;
                },
                getValue: function (element) {
                    console.log(element.projectrec);
                    return element.projectrec.ProID;
                },
                // listLocation: "projectrec",
                // getValue: "ProID",

                ajaxSettings: {
                    dataType: "json",
                    method: "POST",
                    data: {
                        dataType: "json"
                    }
                },
                preparePostData: function(data) {
                    data.phrase = $('#campaign_imisprojectnr').val();
                    return data;
                },
                list: {
                    onChooseEvent : function () {
                        var selectedItemValue = $('#campaign_imisprojectnr').getSelectedItemData().projectrec.StandardTitle;
                        $('#campaign_campaign').val(selectedItemValue);
                    }
                },
                requestDelay: 400
            };


            $("#campaign_campaign").easyAutocomplete(optionsTitle);
            $("#campaign_imisprojectnr").easyAutocomplete(optionsImis);
        })





    </script>



{% endblock %}