{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
{#        <div class="row">#}
            <div class="card">
                <div class="card-header">
                    {% if mode == 'create' %}
                    <h5>Create new investigator</h5> {% elseif mode == 'edit' %}
                    <h5>Edit investigator</h5><p>{{ investigator.surname }}, {{ investigator.firstname }}</p>
                    {% endif %}
                </div>
                <div class="card-body">
                    {{ form_start(formInvestigator) }}
{#                    {{ form_widget(formInvestigator) }}#}

                    {{ form_row(formInvestigator.fullName) }}
                    <div class="row">
                        <div class="col-5">
                            {{ form_row(formInvestigator.surname) }}
                        </div>
                        <div class="col-5">
                            {{ form_row(formInvestigator.firstname) }}
                        </div>
                        <div class="col-2">
                            {{ form_row(formInvestigator.imisnr) }}
                        </div>
                    </div>
                    {{ form_row(formInvestigator.passengertype) }}


                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">
                        {% if mode == 'edit' %}
                            Confirm edit{% elseif mode == 'create' %}
                            Create investigator {% endif %}
                    </button>
                    {{ form_end(formInvestigator) }}
                </div>
            </div>
{#        </div>#}
    </div>


{% endblock %}

{% block javascripts %}
<script src="/EasyAutocomplete-1.3.5/jquery.easy-autocomplete.js"></script>

<script>
    // function addAutocompleteForCampaign(){

    var options = {
        url: function(phrase){
            return "/imispersons/"
                + phrase;
        },
        getValue: function (element) {
            return element.FullPers;
        },
        ajaxSettings: {
            dataType: "json",
            method: "POST",
            data: {
                dataType: "json"
            }
        },

        preparePostData: function(data) {
            data.phrase = $('#investigators_fullName').val();
            return data;
        },
        list: {
            maxNumberOfElements: 30,
            onChooseEvent: function () {
                var surnameSelectedItemValue = $('#investigators_fullName').getSelectedItemData().Surname;
                $('#investigators_surname').val(surnameSelectedItemValue);
                var firstNameSelectedItemValue = $('#investigators_fullName').getSelectedItemData().Firstname;
                $('#investigators_firstname').val(firstNameSelectedItemValue);
                var imisSelectedItemValue = $('#investigators_fullName').getSelectedItemData().PersID;
                $('#investigators_imisnr').val(imisSelectedItemValue);

            }
        },

        requestDelay: 400
    };

    $("#investigators_fullName").easyAutocomplete(options);

    // }

</script>



{% endblock %}