{% extends 'base.html.twig' %}
{% form_theme formCruise _self %}
{% block body %}
    <div class="container">
    {{ form_start(formCruise) }}


    {{ form_widget(formCruise) }}
    <button type="submit" class="btn btn-primary">Submit the new cruise</button>

    {{ form_end(formCruise) }}
    </div>

{% endblock %}


{#{% block form_row %}#}
{#    {% if (id=="cruise_destination") or (id=="cruise_startdate") or (id=="cruise_enddate") %}#}
{#    <p>Destination (not to enter here)</p>#}
{#        {% else %}#}
{#            {{ form_label(form) }}#}
{#        {{ form_widget(form) }}#}
{#    {% endif %}#}
{#{% endblock %}#}

{% block _cruise_trips_widget %}
    <p>Manage the trips</p>
    {{ form_widget(form) }}
    <div class="form-group">
        <button type="button" id="add-trip" class="btn btn-primary">Add a trip</button>
    </div>

{% endblock %}

{% block _cruise_trips_entry_widget %}
    <div class="form-group">
        <div class="row">
            <div class="col-4">
                {{ form_widget(form.startdate) }}
            </div>
            <div class="col-4">
                {{ form_widget(form.enddate) }}
            </div>
        </div>
    </div>
{% endblock %}

{# Here we force the form to not display label 0, 1,... 0only widget in row...#}
{% block _cruise_trips_entry_row %}
    {{ form_widget(form) }}
{% endblock %}

{% block javascripts %}
{#    <script>#}
{#        $(document).ready(function() {#}
{#            // you may need to change this code if you are not using Bootstrap Datepicker#}
{#            $('.js-datepicker').datepicker({#}
{#                format: 'yyyy-mm-dd'#}
{#            });#}
{#        });#}
{#    </script>#}

    <script>
        $('#add-trip').click(function(){
            //Getting the index for the div
            const index = $('#cruise_trips div.form-group').length;
            console.log(index);
            //Getting the prototype (code used to generate the html template)...and adding the index...e.g. position outside the present length
            const tmpl = $('#cruise_trips').data('prototype').replace(/__name__/g, index);
            //Injection of the new code
            $('#cruise_trips').append(tmpl);
            // console.log(tmpl);
        })
    </script>


{% endblock %}