{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
        /*!*div#cruise_edit_trips {*!*/
        /*!*    border: solid;*!*/
        /*!*}*!*/

        /*div[id^=block_cruise_trips_] {*/
        /*    border: solid;*/
        /*    border-width: thin;*/
        /*    color:red;*/
        /*}*/

        /*div[id*=tripinvestigators] {*/
        /*    color:blue;*/
        /*    border-width: thin;*/
        /*}*/

        /*fieldset.form-group {*/
        /*    border: solid;*/
        /*    border-width: thin;*/
        /*    border-color: green;*/

        /*}*/

        div[id^=block_cruise_trips_] {
            margin-bottom: 0px!important;
            margin-top: 0px!important;
            padding-bottom: 0px!important;
            padding-top: 0px!important;
        }
        div[id^=block_cruise_trips_] div.row  {
            margin-bottom: 0px!important;
            margin-top: 0px!important;
            padding-bottom: 0px!important;
            padding-top: 0px!important;
        }



    </style>

{% endblock %}

{#    'forms/_collection_cruise_trips.html.twig'#}

{% form_theme formCruise with [
    'forms/_collection_cruise_campaigns.html.twig',
    _self
] %}
{#    {% form_theme form _self %}#}


{#{% form_theme formCruise _self %}#}
{% block body %}
    <h2>Edit cruise</h2>
    <div class="container" >


        {{ form_start(formCruise) }}
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <div class="card-header">
                        {{ form_label(formCruise.plancode) }}
                    </div>
                    <div class="card-body">
                        {{ form_widget(formCruise.plancode) }}
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-header">
                        {{ form_label(formCruise.principalinvestigator) }}
                    </div>
                    <div class="card-body">
                        {{ form_widget(formCruise.principalinvestigator) }}
                    </div>
                </div>
            </div>
            <div class="col-4">
                <button type="submit" class="btn btn-primary">Submit all modifications</button>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                {{ form_label(formCruise.campaign) }}
            </div>
            <div class="card-body">
                {{ form_widget(formCruise.campaign) }}
            </div>
        </div>
    </div>

    <div class="container-fluid">
        {{ form_widget(formCruise.trips) }}
    </div>

        {{ form_end(formCruise) }}


{% endblock %}

{% block _cruise_trips_widget %}
    <div class="card ">
        <div class="card-header">
            <h4>Manage trips</h4>
        </div>

        <div class="card-body">
            {{ form_widget(form) }}


            <input type="hidden" id="widgets-counter-trips" value="0">

            <div class="form-group">
                <button type="button" id="add-trip" class="btn btn-primary">Add a trip</button>
            </div>
        </div>

    </div>


{% endblock %}

{% block _cruise_trips_entry_widget %}
    <div class="form-group" id="block_{{ id }}">

        <div class="row ">

            <div class="col-3">
                {{ form_row(form.startdate) }}
            </div>
            <div class="col-3">
                {{ form_row(form.enddate) }}
            </div>
            <div class="col-4">
                {{ form_row (form.destinationarea) }}
            </div>
            <div class="col-2">
{#                <div class="row">#}

                    <button type="button" id="remove-trip" class="btn btn-light " data-action="delete"
                            data-target="#block_{{ id }}">
                        <i class="fa fa-trash fa-2x"></i>
                    </button>
                    <button type="button" id="clone-trip" class="btn btn-light " data-action="clone"
                            data-target="#block_{{ id }}">
                        <i class="fa fa-clone fa-2x"></i>
                    </button>
{#                </div>#}
{#                <div class="row">#}
{#                    <button type="button" id="down-trip" class="btn btn-light " data-action="down"#}
{#                            data-target="#block_{{ id }}">#}
{#                        <i class="fa fa-arrow-down fa-2x"></i>#}
{#                    </button>#}
{#                </div>#}

            </div>

{#            {% if form.vars.value is not null %}#}
{#                {{ dump (form.vars.value) }}#}
{#            {% endif %}#}
        </div>

        {{ form_widget(form.tripinvestigators) }}
        {% if form.vars.value is not null %}
        <a href="{{ path ( 'trip_edit', {'tripId': form.vars.value.tripid } ) }}" class="btn btn-primary">Add/remove investigators</a>
        {% endif %}
        <hr style=" border-top: 3px dashed" >
    </div>

{% endblock %}



{% block _cruise_trips_entry_tripinvestigators_widget %}

            {% if form.children %}
                <div class="card" style="background-color: #95c9ec">
                    <div class="card-header">
                        <div class="row">

                            <div class="col-4">First name</div>
                            <div class="col-4">Surname</div>
                        </div>
                    </div>
                    <div class="card-body">
                        {{ form_widget(form) }}
                    </div>
                </div>


            {% endif %}






    {#    {% dump(form.children) %}#}






{% endblock %}

{% block _cruise_trips_entry_tripinvestigators_entry_widget %}

    <div class="form-group" id="block_{{ id }}">
        <div class="row">
            <div class="col-4">
                {{ form_widget(form.firstname) }}
            </div>
            <div class="col-4">
                {{ form_widget(form.surname) }}
            </div>

        </div>
    </div>


{% endblock %}



{% block javascripts %}
    <script src="{{ asset('js/addTripsToCruise.js') }}"></script>
    <script src="{{ asset('js/addCampaignsToCruise.js') }}"></script>
{#    <script src="{{ asset('js/addTripinvestigatorsToTrip.js') }}"></script>#}
{% endblock %}




{#{% block _cruise_trips_widget %}#}
{#    <div class="card">#}
{#    <p>Manage the trips</p>#}
{#    {% dump(form) %}#}
{#    {{ form_widget(form) }}#}
{#    <input type="hidden" id="widgets-counter" value="0">#}
{#    <div class="form-group">#}
{#        <button type="button" id="add-trip" class="btn btn-primary">Add a trip</button>#}
{#    </div>#}
{#    </div>#}

{#{% endblock %}#}

{#{% block _cruise_trips_entry_widget %}#}
{#    <div class="form-group" id="block_{{ id }}">#}
{#        <div class="row">#}
{#            <div class="col-10">#}
{#                <div class="row">#}
{#                    <div class="col">#}
{#                        {{ form_row(form.startdate) }}#}
{#                    </div>#}
{#                    <div class="col">#}
{#                        {{ form_row(form.enddate) }}#}
{#                    </div>#}
{#                    <div class="col">#}
{#                        {{ form_row (form.destinationarea) }}#}
{#                    </div>#}
{#                </div>#}
{#                <div class="row">#}

{#                </div>#}

{#            </div>#}
{#            <div class="col-2">#}
{#                <button type="button" id="remove-trip" class="btn btn-danger" data-action="delete" data-target="#block_{{ id }}">#}
{#                    X#}
{#                </button>#}
{#            </div>#}
{#        </div>#}
{#        <div class="row">#}

{#                    <div class="col-3">#}
{#                        {{ form_row(form.startdate) }}#}
{#                    </div>#}
{#                    <div class="col-3">#}
{#                        {{ form_row(form.enddate) }}#}
{#                    </div>#}
{#                    <div class="col-4">#}
{#                        {{ form_row (form.destinationarea) }}#}
{#                    </div>#}
{#                    <div class="col-2">#}
{#                        <div style="margin-top: 30px">#}
{#                            <button type="button" id="remove-trip" class="btn btn-danger" data-action="delete" data-target="#block_{{ id }}">#}
{#                                X#}
{#                            </button>#}
{#                        </div>#}

{#                    </div>#}
{#        </div>#}



{# THIS WILL ONLY BE SHOWN IN THE EDIT FORM #}

{#            {% for forminvestigator in form.tripinvestigators %}#}
{#                {{ dump (forminvestigator) }}#}
{#        <div class="row">#}
{#                <div class="col">{{ form_widget(forminvestigator.firstname)}}</div>#}
{#                <div class="col">{{ form_widget(forminvestigator.surname)}}</div>#}
{#        </div>#}
{#            {% endfor %}#}




{#    </div>#}

{#{% endblock %}#}

{# Here we force the form to not display label 0, 1,... 0only widget in row...#}
{#{% block _cruise_trips_entry_row %}#}
{#    {{ form_widget(form) }}#}
{#{% endblock %}#}



{#{% block javascripts %}#}
{#    <script>#}
{#        $('#add-trip').click(function(){#}
{#            //Getting the index for the div#}
{#            // const index = $('#cruise_trips div.form-group').length;#}
{#            const index = +$('#widgets-counter').val(); //unary '+' to convert string to number#}
{#            console.log(index);#}
{#            //Getting the prototype (code used to generate the html template)...and adding the index...e.g. position outside the present length#}
{#            const tmpl = $('#cruise_trips').data('prototype').replace(/__name__/g, index);#}
{#            //Injection of the new code#}
{#            $('#cruise_trips').append(tmpl);#}

{#            //Add 1 to the index (for counter)#}
{#            $('#widgets-counter').val(index+1);#}

{#            handleDeleteButtons();#}
{#        })#}

{#        // $('#clone-trip').click(function(){#}
{#        //     const tmpl = $('#cruise_trips').data('prototype').#}
{#        // })#}

{#        function updateCounter(){#}
{#            const count = $('#cruise_trips div.form-group').length;#}
{#            $('#widgets-counter').val(count);#}
{#        }#}

{#        function handleDeleteButtons(){#}
{#            $('button[data-action="delete"]').click(function(){#}
{#                const target=this.dataset.target;#}
{#                //'this' is the button and 'dataset' are the attributes, target "#block_cruise_trips_0#}
{#                // remove the whole div#}
{#                $(target).remove();#}
{#            })#}
{#        }#}
{#        updateCounter();#}
{#        handleDeleteButtons();#}
{#    </script>#}
{#{% endblock %}#}
