{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
        /*div[id^=block_cruise_trips_] {*/
        /*    margin-bottom: 3px!important;*/
        /*}*/
        /*div[id^=cruise_trips_]>.row>.col-3 {*/
        /*    margin-right: 3px!important;*/
        /*       padding-right: 3px!important;*/
        /*    padding-left: 3px!important;*/
        /*}*/


        /*!*div#cruise_edit_trips {*!*/
        /*!*    border: solid;*!*/
        /*!*}*!*/

        /*div[id^=block_cruise_trips_] {*/
        /*    border: solid;*/
        /*    color:red;*/
        /*}*/

        /*div[id*=tripinvestigators] {*/
        /*    color:blue;*/
        /*}*/



    </style>
{% endblock %}

{% form_theme formCruise with
    [
    'forms/_collection_cruise_campaigns.html.twig',
    'forms/_collection_cruise_trips_tripinvestigators.html.twig',
    _self
    ]
%}

{#{% form_theme formCruise _self %}#}

{% block body %}
    {% set current_path = app.request.get('_route') %}
    {{ current_path }}


    <h2>Create Cruise</h2>
    {{ form_start(formCruise) }}
    <div class="container">

        <div class="row">
            <div class="col-4">
                <div class="card">
                    <div class="card-header">
                        {{ form_label(formCruise.plancode) }}
                    </div>
                    <div class="card-body">
                        {{ form_widget(formCruise.plancode) }}
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-header">
                        {{ form_label(formCruise.principalinvestigator) }}
                    </div>
                    <div class="card-body">
                        {{ form_widget(formCruise.principalinvestigator) }}
                    </div>
                </div>
            </div>
            <div class="col-4">
                <button type="submit" class="btn btn-primary">Submit the new cruise</button>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                {{ form_label(formCruise.campaign) }}
            </div>
            <div class="card-body">
                {{ form_widget(formCruise.campaign) }}
            </div>
        </div>
    </div>
    <div class="container-fluid">
        {{ form_widget(formCruise.trips) }}
    </div>
    {{ form_end(formCruise) }}
{% endblock %}





{% block javascripts %}
    <script src="{{ asset('js/addTripsToCruisePlusTripInvestigators.js') }}"></script>
    <script src="{{ asset('js/addCampaignsToCruise.js') }}"></script>
{#    <script src="{{ asset('js/addTripsToCruise.js') }}"></script>#}

{% endblock %}