{% extends 'base.html.twig' %}
{% form_theme formTrip with [
    'forms/_collection_trip_tripinvestigators_tripstations.html.twig',
    _self]
%}

 {% block stylesheets %}
     {{ encore_entry_link_tags('forms_app') }}

     <style>
         .card{
             margin-bottom: 30px;
         }
     </style>
     <link rel="stylesheet" href="{{ asset('css/form_trip.css') }}">



 {% endblock %}

{% block body %}

    <div class="container">
        <div class="card">
            <div class="card-header">
                <h3>Trip  {{ trip.startdate | date('d/m/Y')}} - {{ trip.enddate | date('d/m/Y')}}</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-10">
                        <p>Destination: {{ trip.destinationarea }}</p>
                        <p>Cruise: {% if trip.cruiseid %}{{ trip.cruiseid.getPlanCode }}&nbsp
                                <a href="{{ path('cruise_edit', {'cruiseId': trip.cruiseid.cruiseid}) }}"><span style="font-size: 23px; "><i class = "fa fa-edit"></i></span></a>
                            {% endif %}</p>
                        <p>Campaign(s):
                            {% if trip.cruiseid %}
                                {% for campaign in trip.cruiseid.campaign %}
                                    "{{ campaign.campaign }}"
                                    {% if loop.last %}{% else %}, {% endif %}
                                {% endfor %}
                            {% endif %}
                        </p>
                    </div>
                    <div class="col-2">
                        <a href="#" class="btn btn-info" data-toggle="modal" data-target="#helpModal">Help on trip form</a>
                    </div>
                </div>

            </div>
        </div>

        <div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="helpModal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>The primary goal of this form is to create missing investigators and stations, from existing tripinvestigators and tripstations.</p>
                        <p>For other usages, editing trips in the cruise form is preferred.</p>
                        <p>Missing entities have white background and are indicated by a "create investigator"/'create station" button. Activation will open another tab to create the entity.
                            If the entity already exists, there will be a warning message and there is no need to submit the station/investigator form.</p>
                        <p>Once this is done, please come back to the present tab, and use the autofill in the "Full name" or "Code" section and <b>choose from the dropdown menu</b> to link to the entity. Amend other fields if necessary and save.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>



        {{form_start(formTrip)}}
        <div class="row">
            <div class="col-3">
                {{ form_row(formTrip.startdate) }}
            </div>
            <div class="col-3">
                {{ form_row(formTrip.enddate) }}
            </div>
            <div class="col-3">
                {{ form_row(formTrip.destinationarea) }}
            </div>
            <div class="col-3">
                <button type="submit" class="btn btn-success">Save</button>
            </div>
        </div>


            {{ form_widget(formTrip.tripinvestigators) }}

            {{ form_widget(formTrip.tripstations) }}




        {{form_end(formTrip)}}

    </div>
{% endblock %}


{% block javascripts %}

    {{ encore_entry_script_tags('forms_app') }}

    <script src="{{ asset('js/Midas_forms/addTripinvestigatorsStationToTrip.js') }}"></script>

    <script>
        $(document).ready(function () {

            var tripRemoveDelFunctionality = {{ tripRemoveDelFunctionality | json_encode | raw }};
            addTripInvestigatorsStationsToTrip.init(tripRemoveDelFunctionality);
        });
    </script>


{% endblock %}