{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('forms_app') }}
{% endblock %}

{% block body %}
    <div class="container my-5">
        <div class="card">
            <div class="card-header">
                {% if mode=='new' %}
                <h5>Create period</h5> {% elseif mode=='edit' %}
                <h5>Edit period</h5> {% endif %}
            </div>

        </div>
        <div class="card-body">
            {{ form_start(formPeriod) }}
            <div class="row">
                <div class="col-7">
                    {{ form_row(formPeriod.short) }}
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    {{ form_row(formPeriod.startdate) }}
                </div>
                <div class="col3"></div>
                <div class="col-3">
                    {{ form_row(formPeriod.enddate) }}
                </div>
            </div>

        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-success">
                Save
            </button>
            {{ form_end(formPeriod) }}
        </div>
    </div>

{% endblock %}

{% block javascripts %}

    {{ encore_entry_script_tags('forms_app') }}
    <script>
        $(document).ready(function() {
            $('.js-datepicker').datepicker({format: 'yyyy-mm-dd'});
        });
    </script>

{% endblock %}