{% extends 'base.html.twig' %}

{% block stylesheets %}
{#    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css" integrity="sha256-bLNUHzSMEvxBhoysBE7EXYlIrmo7+n7F4oJra1IgOaM=" crossorigin="anonymous" />#}

    {{ encore_entry_link_tags('forms_app') }}

    <style>
        div[id^=block_cruise_trips_] {
            margin-bottom: 0px!important;
            margin-top: 0px!important;
            padding-bottom: 0px!important;
            padding-top: 0px!important;
        }
        div[id^=block_cruise_trips_] div.row  {
            margin-bottom: 0px!important;
            margin-top: 0px!important;
            padding-bottom: 0px!important;
            padding-top: 0px!important;
        }
    </style>
    <link rel="stylesheet" href="{{ asset('css/form_trip.css') }}">

{% endblock %}

{% form_theme formCruise with
    [
    'forms/_collection_cruise_campaigns.html.twig',
    'forms/_collection_cruise_trips_tripinvestigators.html.twig',
    _self
    ]
%}

{% block body %}

    {% if mode=='new' %}
        <div class="container my-2">
            <h2>Create Cruise</h2>
        </div>

    {% elseif mode=='edit'%}
        <div class="container my-2">
            <div class="row">
                <div class="col-3">
                    <h2>Edit Cruise</h2>
                </div>
                <div class="col-9">
                    <p>(to be able to delete cruise, remove individual trips and save)</p>
                </div>
            </div>
        </div>

    {% endif %}

    {{ form_start(formCruise) }}
    <div class="container">

        <div class="row">
            <div class="col-4">
                <div class="card">
                    <div class="card-header">
                        {{ form_label(formCruise.plancode) }}
                    </div>
                    <div class="card-body">
                        {% if mode=='new' and newplancode is defined and newplancode is not empty %}
{#                            <h5><span class="badge badge-info">This new plancode is generated automatically</span></h5>#}
                        {%  set placeholder = 'Suggested:   '~ newplancode | trans %}
                            {{ form_widget(formCruise.plancode,{'attr': {'placeholder': placeholder  }}) }}
                        {% else %}
                            {{ form_widget(formCruise.plancode,{'attr': {'placeholder': 'xx-xxx'}}) }}
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="card">
                    <div class="card-header">
                        {{ form_label(formCruise.principalinvestigator) }}
                    </div>
                    <div class="card-body">
                        {{ form_widget(formCruise.principalinvestigator) }}
                    </div>
                </div>
            </div>

            <div class="col-4">
                {% if mode=='new' %}
                    <button type="submit" class="btn btn-success" style="font-size:140%;">Save</button>
                {% elseif mode=='edit'%}
                    <button type="submit" class="btn btn-success" style="font-size:140%;">Save changes</button>
                {% endif %}
            </div>
        </div>

        <div class="row my-3">
            <div class="col-9">
                <div class="card">
                    <div class="card-header">
                        {{ form_label(formCruise.campaign) }}
                    </div>
                    <div class="card-body">
                        {{ form_widget(formCruise.campaign) }}
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <div class="card-header">
                        {{ form_label(formCruise.ship) }}
                    </div>
                    <div class="card-body">
                        {{ form_widget(formCruise.ship) }}
                    </div>
                </div>

            </div>
        </div>


    </div>

    <div class="container-fluid">
        {{ form_widget(formCruise.trips) }}
    </div>
    {{ form_end(formCruise) }}
{% endblock %}


{% block javascripts %}

    {{ encore_entry_script_tags('forms_app') }}

    <script src="{{ asset('js/Midas_forms/addCampaignsToCruise.js') }}"></script>

    <script src="{{ asset('js/Midas_forms/addTripsToCruise.js') }}"></script>

    <script>
        $(document).ready(function () {


            var allTripsRemoveDeleteTripFunctionality = '';

            var mode = '{{ mode }}';
            if(mode == 'edit') {
                allTripsRemoveDeleteTripFunctionality = {{ allTripsRemoveDeleteTripFunctionality | json_encode| raw }};
            }

            //on document load (e.g. when trip blocks are already there...e.g. on edit mode, or instantiations in the controller (in the development process
            addTripsAndInvestigators.init(allTripsRemoveDeleteTripFunctionality, mode);
            addCampaigns.init();
            $('#cruise_principalinvestigator').select2();

        });


        $(document).on("submit", "form", function(event){
            window.onbeforeunload = null;
        });
        window.onbeforeunload = function() {
            return 'Are you sure you want to navigate away from this page?';
        };
    </script>

{% endblock %}