{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
    <h3>Details of the cruise</h3>
{#    {{ dump(cruise.trips) }}#}
{#    {% for trip in cruise.trips %}#}
{#        <p>trip</p> {{ dump(trip) }}<p>investigators</p>{{ dump(trip.tripinvestigators) }}{% endfor %}#}

    <p>Plan Code: <strong>{{ cruise.plancode }}</strong><span style="font-size: x-small"> [Midas ID {{ cruise.cruiseid }}]</span>
        Duration: <strong>{{ cruise.startdate | date ('d/m/Y') }} - {{ cruise.enddate | date ('d/m/Y') }}</strong>
    </p>
    <p>Principal investigator: <strong>
            {% if cruise.principalinvestigator is not null %}
            {{ cruise.principalinvestigator.firstname |convert_encoding('UTF-8','CP1252') }}
            {{ cruise.principalinvestigator.surname|convert_encoding('UTF-8','CP1252') }}
            {% else %} None selected {% endif %}
        </strong>
        Ship: <strong>{{ cruise.ship }}</strong>
        Destination: <strong>{% if cruise.destination|length  %}{{ cruise.destination }} {% else %}N.A.{% endif %}</strong>
    </p>
    <p>Campaign(s):
        {% if not cruise.campaign |length %}N.A.{% else %}
        {% for campaign in cruise.campaign%}
            [<strong>{{ campaign.campaign }}</strong> <a href="{{ path('campaign_details', {'campaignId':campaign.campaignid}) }}"><i class="fa fa-info-circle"></i></a>]
        {% endfor %}
        {% endif %}
    </p>
    <p><a href="{{ path('cruise_edit', {'cruiseId': cruise.cruiseid}) }}"><i class="fa fa-edit fa-3x" ></i></a></p>
    <h3>Trips: </h3>

    <table class="table-hover table-bordered display" id="myDataTable" width="100%">

        <thead>
            <tr>
                <th>Start Date</th>
                <th>Number of days</th>
                <th>Trip Investigators</th>

            </tr>
        </thead>
        <tbody>
            {% for trip in cruise.trips %}
                <tr>
                    <td><span style="display:none">{{ trip.startdate|date('Y/m/d')}}</span>{% if trip.startdate is not null %}
                        {{ trip.startdate|date('d/m/Y')}}{% else %}N.A.{% endif %}</td>
                    <td>{% if trip.startdate is not null %}
                        {% set numberDays = date(trip.startdate).diff(date(trip.enddate)) %}
                        {{ numberDays.days + 1 }}
                        {% endif %}
                    </td>
                    <td>
                        {% for investigator in trip.tripinvestigators %}
                            {{ investigator.firstname |convert_encoding('UTF-8','CP1252') }} {{ investigator.surname|convert_encoding('UTF-8','CP1252') }}<br>
                        {% endfor %}
                    </td>

                </tr>
            {% endfor %}

        </tbody>
    </table>

</div>

{% endblock %}

{% block javascripts %}
{#    <script src="/js/myDataTable/tableSearchHeaders.js"></script>#}

{% endblock %}