{% extends 'base.html.twig' %}

{% block body %}

    <div class="container my-4">

        <div class="card border-dark">
            <div class="card-header">
                <div style="float: left; display: inline-block">
                    <h3>Cruise <strong>{{ cruise.plancode }}</strong><span
                                style="font-size: x-small"> [MIDAS ID {{ cruise.cruiseid }}]</span></h3>
                </div>
                {% set cruiseLink = 'http://www.vliz.be/vmdcdata/midas/report.php?cruise=' %}
                <a href="{{ cruiseLink }}{{ cruise.cruiseid }}" target="_blank"><i
                            class="fa fa-link fa-2x"></i></a>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <p>Duration for the trips:
                            {% if cruise.trips and cruise.trips|length %} {% set nbTrips = cruise.trips|length %}
                                <span style="display:none">{{ cruise.trips[0].startdate|date('Y/m/d') }}</span>{{ cruise.trips[0].startdate|date('Y-m-d') }}- {{ cruise.trips[nbTrips-1].enddate|date('Y-m-d') }}
                            {% else %}No planned trip
                            {% endif %} </p>
                        <p>Duration for the cruise: {% if cruise.startdate and cruise.enddate %}
                                <strong>{{ cruise.startdate | date ('Y-m-d') }}
                                - {{ cruise.enddate | date ('Y-m-d') }}</strong>{% else %}N.A.{% endif %}</p>
                        <p>Principal investigator: <strong>
                                {% if cruise.principalinvestigator is defined and cruise.principalinvestigator is not null and cruise.principalinvestigator.investigatorid !=0 %}
                                    {{ cruise.principalinvestigator.firstname }}
                                    {{ cruise.principalinvestigator.surname }}
                                {% else %} None selected {% endif %}
                            </strong></p>

                        <p>Ship: <strong>{{ cruise.ship }}</strong></p>
                        <p>Destination:
                            <strong>{% if cruise.destination|length %}{{ cruise.destination }} {% else %}N.A.{% endif %}</strong>
                        </p>
                    </div>
                    <div class="col">
                        <a href="{{ path('cruise_edit', {'cruiseId': cruise.cruiseid}) }}"><i
                                    class="btn btn-success fa fa-edit fa-4x"></i></a>
                        {% if cruise.trips is empty %}
                        <a href="{{ path('cruise_remove_warning', {'cruiseId': cruise.cruiseid}) }}"><i
                                    class="btn btn-danger fa fa-trash fa-4x"></i></a>
                        {% endif %}
                    </div>
                </div>

                <p>Campaign(s):
                    {% if not cruise.campaign |length %} N.A.{% else %}
                        {% for campaign in cruise.campaign %}
                            <strong>"{{ campaign.campaign }}"</strong>
                        <a href="{{ path('campaign_details', {'campaignId':campaign.campaignid}) }}">
                                <i class="fa fa-info-circle"></i></a>{% if loop.last %}{% else %}, {% endif %}
                        {% endfor %}
                    {% endif %}
                </p>
            </div>
        </div>
    </div>


{% if cruise.trips %}
{#    //https://codepen.io/SteveJRobertson/pen/POdvgz#}
    <div class="container-fluid">
        <h1>TRIPS</h1>
        {% for trip in cruise.trips %}
            <div class="row">
                <div class="col-12 my-1">
                    <div class="card border-dark">
                        <div style="display:flex;flex:1 1 auto;">
                            <div class="card-header">
                                <p>Start: {{ trip.startdate|date('Y-m-d') }}</p>
                                <p>End: {{ trip.enddate|date('Y-m-d') }}</p>
                                <p>Destination: {{ trip.destinationarea }}</p>
                                <p><a href="{{ path('trip_edit', {'tripId': trip.tripid}) }}"><i class="fa fa-edit fa-2x"></i></a></p>
                            </div>
                            <div class="card-body">
                                <h5>Trip Investigators</h5>
                                <table class="table">

                                    <thead class="thead-dark">
                                        <tr>
                                            <th>First name</th>
                                            <th>Surname&nbsp;</th>
                                            <th>Investigator</th>
                                            <th>Campaign</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for tripinvestigator in trip.tripinvestigators %}
                                        <tr>
                                            <td>{{ tripinvestigator.firstname }}</td>
                                            <td>{{tripinvestigator.surname}}</td>
                                            <td>{% if tripinvestigator.investigatornr is not null %}
                                                    {% if tripinvestigator.firstname|trim == tripinvestigator.investigatornr.firstname|trim
                                                            and tripinvestigator.surname|trim ==tripinvestigator.investigatornr.surname|trim %}
                                                        &#10003; {% else %} &#9888; {{ tripinvestigator.investigatornr.firstname }}<br/>
                                                        {{ tripinvestigator.investigatornr.surname }}
                                                        {% endif %}
                                                    {% else %} &#10008;
                                                {% endif %}</td>
                                            <td>
{#                                                {{ tripinvestigator.campaign | length > 25 ?#}
{#                                                       tripinvestigator.campaign|slice(0,22) ~ '...' : tripinvestigator.campaign }}#}
                                                {{ tripinvestigator.campaign }}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>



                                </table>
                            </div><div class="card-body">
                                <h5>Trip Stations</h5>
                                <table class="table">
                                    <thead class="thead-light">
                                        <tr>
                                            <th>Code</th>
                                            <th>Latitude</th>
                                            <th>Longitude</th>
                                            <th>Station</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for tripstation in trip.tripstations %}
                                        <tr>
                                            <td>{{tripstation.code}}</td>
                                            <td>{{tripstation.deflatitude | number_format(3)}}</td>
                                            <td>{{tripstation.deflongitude | number_format(3)}}</td>
                                            <td>{% if tripstation.stationnr is not null %}
                                                    {% if tripstation.code|trim != tripstation.stationnr.code|trim %}
                                                        &#9888; {{ tripstation.stationnr.code }}
                                                    {% else %}&#10003; {% endif %}
                                                {% else %} &#10008; {% endif %}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>



                                </table>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}



{% endblock %}

