{% extends 'base.html.twig' %}

{% block title %}Periods{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('displays_app') }}
{% endblock %}


{% block body %}
    <div class="container my-2">
        <div class="row">
            <div class="col-4">
                <h3>List of periods</h3>
            </div>
            <div class="col-8">
                <a href="{{ path('create_period') }}" class="btn btn-success">Add a new period</a>
            </div>
        </div>
    </div>
    <div class="container my-2">

        <table class="table-hover table-bordered display" id="myDataTable" width="100%">
            <thead>
            {% set headerRow = "
            <tr>
                <th>Start date</th>
                <th>End date</th>
                <th>Short</th>
                <th>Color code</th>
            </tr>"
            %}

            {{ headerRow | raw}}

            </thead>

            <tfoot>

            {{ headerRow | raw}} {# Variable containing columns headers, see above #}
            </tfoot>


        </table>
    </div>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('displays_app') }}

    <script src="{{ asset('js/Midas_displays/dataTablesForPeriods.js') }}"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            fillTablePeriods.init();
        });

    </script>

{% endblock %}
