{% extends 'base.html.twig' %}

{% block title %}Cruises{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/datatables.min.css">
    <link rel="stylesheet" href="/css/fixedHeader.dataTables.min.css">

{% endblock %}


{% block body %}
    <div class="container my-2">
        <div class="row">
            <div class="col-4">
                <h3>List of cruises</h3>
            </div>
            <div class="col-8">
                <a href="{{ path('cruise_create') }}" class="btn btn-success">Add a new cruise</a>
            </div>
        </div>
    </div>


    <div class="container my-2">

    <table class="table-hover table-bordered display" id="myDataTable" width="100%">
        <thead>
        {% set headerRow = "
            <tr>
                <th>Cruise Plan Code</th>
                <th>Campaigns</th>
                <th>Start date (first trip)</th>
                <th>End date (last trip)</th>
                <th>Principal Investigator</th>
                <th>Number of<br>Trips</th>
            </tr>"
        %}

        {{ headerRow | raw}}

        </thead>

        <tfoot>

        {{ headerRow | raw}} {# Variable containing columns headers, see above #}
        </tfoot>


    </table>
    </div>
{#    </div>#}


{% endblock %}

{% block javascripts %}

{#    <script src="/js/dataTables.fixedHeader.min.js"></script>#}
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>#}
{#    <script src="https://cdn.datatables.net/plug-ins/1.10.20/sorting/datetime-moment.js"></script>#}

    <script type="text/javascript" src="/js/datatables.min.js"></script>
    {#<script type="text/javascript" src="/js/myDataTable/tableSearchHeaders.js"></script>#}
    <script src="{{ '/bundles/fosjsrouting/js/router.min.js' }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            //allow sorting date
            // $.fn.dataTable.moment("D/M/YYYY");

            //Add another header below the first
            $('#myDataTable thead tr').clone().appendTo('#myDataTable thead');

            //Transform the second header row to have the search input fields
            $('#myDataTable thead tr:odd th').each( function () {
                $(this).html('<input type="text" placeholder="Search" />');
            });

            //Create the table
            //https://stackoverflow.com/questions/39407881/pagination-at-top-and-bottom-with-datatables
            var table =
                $('#myDataTable').DataTable( {
                    "pageLength": 50,
                    dom: "<'row'<'col-sm-3'l><'col-sm-3'f><'col-sm-6'p>>" +
                        "<'row'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-5'i><'col-sm-7'p>>",

                    "ajax": {
                        // "url": "api/getcruises",
                        "url": Routing.generate('get_cruises'),
                        "dataSrc" : "data"
                    },
                    "order": [[ 0, "desc" ]],
                    "columns": [
                        { "data": "plancode" },
                        { "data": "campaigns",
                            "name": "campaigns",
                            "defaultContent": ""
                        },
                        { "data": "startdate" },
                        { "data": "enddate" },
                        { "data": "PrincipalInvestigator" },
                        { "data": "numberOfTrips" },
                        { "data": "CruiseID" },
                        { "data" : "PrincipalInvestigatorID"}
                    ],
                    "columnDefs": [
                        {
                            "targets": 1,
                            "render": function (data, type, row) {
                                var campaignOutput = '';
                                var campaignRouteName =  'campaign_details' ;
                                if (Array.isArray(data) && data.length) {
                                    // console.log(data);
                                    for (var i = 0; i < data.length; i++) {
                                        campaignOutput +=  '<a href="' + Routing.generate(campaignRouteName, {campaignId: data[i]['campaignid']}) + '" title="Open Campaign">'
                                            // + '<span style="font-size: 20px;"><i class="fa fa-info-circle" aria-hidden="true"></i></span>&nbsp;'
                                           + '&#8226&nbsp' + data[i]['campaign']
                                            +  '</a><br/>';
                                    }
                                    return campaignOutput ;
                                }
                            }
                        },
                        {
                            "targets": 0,
                            "render": function (data, type, row) {
                                cruiseOutput = data + '&nbsp<a href="' + Routing.generate('cruise_details', {cruiseId: row.CruiseID}) + '" title="Info">'
                                    +'<span style="font-size: 20px;"><i class="fa fa-info-circle" ></i></span></a>&nbsp'
                                    +'&nbsp <a href="'
                                    + Routing.generate('cruise_edit', {cruiseId: row.CruiseID})
                                    + '" title="Edit">'
                                    +'<span style="font-size: 23px; "><i class = "fa fa-edit"></i></span></a>';

                                    // + '<a href="' + Routing.generate('')
                                return cruiseOutput;
                            }
                        },
                        {
                            "targets": 4,
                            "render": function (data, type, row) {
                                var investigatorOutput;
                                if(data==null){
                                    investigatorOutput ='';
                                } else {
                                    investigatorOutput = '<a href="' + Routing.generate('investigator_details', {investigatorId: row.PrincipalInvestigatorID})
                                        + '">' + data + '</a>';
                                }
                                return investigatorOutput;
                            }
                        },
                        {
                            "targets": -2,
                            "visible": false
                        },
                        {
                            "targets": -1,
                           "visible": false
                        }
                    ],
                } );

            //Hide the generic search field
            $('#myDataTable_filter').hide();


            // Apply the search on every column
            table.columns().every( function () {
                var that = this;

                $( 'input', this.header() ).on( 'keyup change clear', function () {
                    if ( that.search() !== this.value ) {
                        that
                            .search( this.value )
                            .draw();
                    }
                } );
            } );



            //prevent that clicking on the search field sort the column
            //https://stackoverflow.com/questions/31677257/datatables-only-allow-sorting-with-buttons

            $('#myDataTable thead input').on('click', function(e){
                e.stopPropagation();
            });
        } );
    </script>

{% endblock %}
