{% extends 'base.html.twig' %}

{% block stylesheets %}
{#    <link rel="stylesheet" href="/css/datatables.min.css">#}
{#    <link rel="stylesheet" href="/css/fixedHeader.dataTables.min.css">#}
    {{ encore_entry_link_tags('displays_app') }}

{% endblock %}

{% block body %}

    <div class="container my-2">
        <div class="row">
            <div class="col-4">
                <h3>Investigators</h3>
            </div>
            <div class="col-8">
                <a href="{{ path('create_investigator') }}" class="btn btn-success">Add an investigator</a>
            </div>
        </div>

    </div>

    <div class="container my-2">
        <table class="table-hover table-bordered display" id="myDataTable" width="100%">
            <thead>
            {% set headerRow = "
            <tr>
                <th>Name</th>
                <th>Passenger type</th>
                <th>Activity</th>


            </tr>
            " %}

            {{ headerRow | raw }}
            </thead>

            <tfoot>
            {{ headerRow | raw }}
            </tfoot>
        </table>
    </div>



{% endblock %}

{% block javascripts %}

    {{ encore_entry_script_tags('displays_app') }}

    <script src="{{ asset('js/Midas_displays/dataTablesForInvestigators.js') }}"></script>

    <script type="text/javascript">
        $(document).ready( function () {
            fillTableInvestigators.init();
        } );
    </script>



{% endblock %}
