{% extends 'base.html.twig' %}

{% block title %}Campaigns{% endblock %}

{% block stylesheets %}
{#    <link rel="stylesheet" href="/css/datatables.min.css">#}
{#    <link rel="stylesheet" href="/css/fixedHeader.dataTables.min.css">#}

    {{ encore_entry_link_tags('displays_app') }}
{% endblock %}


{% block body %}

<div class="container">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-10">
                    <h3>Campaign: "<strong>{{ campaign.campaign}}</strong>" </h3>

                    <p>IMIS Project Number: <strong>{{ campaign.imisprojectnr }} </strong><span style="font-size: x-small">Midas ID: {{ campaign.campaignid }}</span></p>
                </div>
                <div class="col-2">
                    <a href="{{ path('campaign_edit', {'campaignId': campaign.campaignid}) }}"><i
                                class="fa fa-edit fa-5x"></i></a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <p><strong><i>{{ campaign.memo }}</i></strong></p>
        </div>
    </div>


</div>


<div class="container">
    <h3>Cruises</h3>



    <table class="table-hover table-bordered display" id="myDataTable" width="100%">
        <thead>
        <tr>
            <th>Plan code</th>
            <th class="searchable">P.Investigator</th>
            <th>Duration</th>
            <th>Shared campaigns</th>
        </tr>

        </thead>
        {#        {{ dump(cruises) }}#}
        <tbody>
        {% set nameOfPresentCampaign =campaign.campaign %}
        {% for cruise in cruises|sort %}
            {#            ((a,b)=>a.startdate<=>b.startdate)#}
            <tr>
                <td>{{ cruise.plancode }} <a href="{{path('cruise_details', {'cruiseId': cruise.cruiseid})}}"><i class="fa fa-info-circle"></i></a></td>
                <td>
                    {% if cruise.principalinvestigator is not empty  %}
                        {{ cruise.principalinvestigator.surname }}, {{ cruise.principalinvestigator.firstname |first}}
                        <a href="{{ path('investigator_details', {'investigatorId': cruise.principalinvestigator.investigatorid}) }}" ><i  class="fa fa-info-circle "></i></a>
                    {% endif %}</td>


                <td>
                    {% if cruise.trips and cruise.trips|length %} {% set nbTrips = cruise.trips|length %}
                        <span style="display:none">{{ cruise.trips[0].startdate|date('Y/m/d')}}</span>{{ cruise.trips[0].startdate|date('Y/m/d')}}- {{ cruise.trips[nbTrips-1].enddate|date('Y/m/d') }}
                    {% else %}No planned trip
                    {% endif %}</td>




                <td>
                    {% for singleCampaign in cruise.campaign %}
                        {% if singleCampaign.campaign != nameOfPresentCampaign %}
                            {{ singleCampaign.campaign }}

                            <a href="{{ path('campaign_details', {'campaignId':singleCampaign.campaignid}) }}"><i class="fa fa-info-circle"></i></a><br>
                        {% endif %}
                    {% endfor %}
                </td>

            </tr>
        {% endfor %}
        </tbody>

    </table>
</div>



{% endblock %}

{% block javascripts %}



    {{ encore_entry_script_tags('displays_app') }}

    <script>
        $(document).ready( function () {
            //allow sorting date
            // $.fn.dataTable.moment("D/M/YYYY");

            //Add another header below the first
            $('#myDataTable thead tr').clone().appendTo('#myDataTable thead');

            //Transform the second header row to have the search input fields
            $('#myDataTable thead tr:odd th').each( function () {
                $(this).html('<input type="text" placeholder="Search" />');
            });

            //Create the table
            var table =
                $('#myDataTable').DataTable({
                    // scrollY:        true,
                    // scrollX:        true
                });



            //Hide the generic search field
            $('#myDataTable_filter').hide();


            // Apply the search on every column
            table.columns().every( function () {
                var that = this;

                $( 'input', this.header() ).on( 'keyup change clear', function () {
                    if ( that.search() !== this.value ) {
                        that
                            .search( this.value )
                            .draw();
                    }
                } );
            } );



            //prevent that clicking on the search field sort the column
            //https://stackoverflow.com/questions/31677257/datatables-only-allow-sorting-with-buttons

            $('#myDataTable thead input').on('click', function(e){
                e.stopPropagation();
            });

        } );
    </script>




{% endblock %}