{% extends 'base.html.twig' %}

{% block body %}

    <div class="container" >

        <div class="card">
            <div class="card-header">
                <h3>Cruise <strong>{{ cruise.plancode }}</strong><span
                            style="font-size: x-small"> [MIDAS ID {{ cruise.cruiseid }}]</span></h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-8">
                        <p>Duration: <strong>{{ cruiseStartDate | date ('d/m/Y') }}
                                - {{ cruiseEndDate | date ('d/m/Y') }}</strong></p>
                        <p>Principal investigator: <strong>
                                {% if cruise.principalinvestigator is not null %}
                                    {{ cruise.principalinvestigator.firstname |convert_encoding('UTF-8','CP1252') }}
                                    {{ cruise.principalinvestigator.surname|convert_encoding('UTF-8','CP1252') }}
                                {% else %} None selected {% endif %}
                            </strong></p>

                        <p>Ship: <strong>{{ cruise.ship }}</strong></p>
                        <p>Destination:
                            <strong>{% if cruise.destination|length %}{{ cruise.destination }} {% else %}N.A.{% endif %}</strong>
                        </p>
                    </div>
                    <div class="col">
                        <a href="{{ path('cruise_edit', {'cruiseId': cruise.cruiseid}) }}"><i
                                    class="fa fa-edit fa-5x"></i></a>
                    </div>
                </div>


                        <p>Campaign(s):



                        {% if not cruise.campaign |length %} N.A.{% else %}
                            {% for campaign in cruise.campaign %}
                                <strong>"{{ campaign.campaign }}"</strong>
                                    <a href="{{ path('campaign_details', {'campaignId':campaign.campaignid}) }}">
                                        <i class="fa fa-info-circle"></i></a>{% if loop.last %}{% else %}, {% endif %}
                            {% endfor %}
                        {% endif %}
                        </p>





            </div>

        </div>
    </div>

    <div class="container-fluid">
        <div class="row ">
            {% for trip in trips %}
{#                <div class="col">#}
                    <div class="card" style="width: 300px !important;" >

                        <div class="card-header">
                            <p>Trip: <span
                                        style="display:none">{{ trip.startdate|date('Y/m/d') }}</span>
                                {{ trip.startdate|date('d/m/Y') }}-{{ trip.enddate|date('d/m/Y') }} </p>
                        </div>
                        <div class="card-body">
                            <p>Number of days:
                                {% if trip.startdate is not null %}
                                    {% set diffDays = date(trip.startdate).diff(date(trip.enddate)) %}
                                    {{ diffDays.days + 1 }}
                                    {% if diffDays.days > 0 %} (multi-day) {% else %} (single day) {% endif %}
                                {% endif %}
                            </p>
                            <p>Destination: {{ trip.destinationarea }}</p>


{#                        <div class="card-footer">#}
                            <p>Investigators:
                            {% for investigator in trip.tripinvestigators %}
                                {{ investigator.firstname |convert_encoding('UTF-8','CP1252') }} {{ investigator.surname|convert_encoding('UTF-8','CP1252') }}
                                {% if loop.last %}{% else %}, {% endif %}
                            {% endfor %}
                                <a href="{{ path('trip_edit', {'tripId': trip.tripid}) }}"><i
                                            class="btn btn-default fa fa-edit fa-2x"></i></a>
                            </p>
                        </div>
{#                        </div>#}





                    </div>
{#                </div>#}



            {% endfor %}
        </div>


        {#            <h3>Trips: </h3>#}

{#            <table class="table-hover table-bordered display" id="myDataTable" width="100%">#}

{#                <thead>#}
{#                    <tr>#}
{#                        <th>Start Date</th>#}
{#                        <th>Number of days</th>#}
{#                        <th>Trip Investigators</th>#}

{#                    </tr>#}
{#                </thead>#}
{#                <tbody>#}
{#                    {% for trip in cruise.trips %}#}
{#                        <tr>#}
{#                            <td><span style="display:none">{{ trip.startdate|date('Y/m/d')}}</span>{% if trip.startdate is not null %}#}
{#                                {{ trip.startdate|date('d/m/Y')}}{% else %}N.A.{% endif %}</td>#}
{#                            <td>{% if trip.startdate is not null %}#}
{#                                {% set numberDays = date(trip.startdate).diff(date(trip.enddate)) %}#}
{#                                {{ numberDays.days + 1 }}#}
{#                                {% endif %}#}
{#                            </td>#}
{#                            <td>#}
{#                                {% for investigator in trip.tripinvestigators %}#}
{#                                    {{ investigator.firstname |convert_encoding('UTF-8','CP1252') }} {{ investigator.surname|convert_encoding('UTF-8','CP1252') }}<br>#}
{#                                {% endfor %}#}
{#                                <p><a href="{{ path('trip_edit', {'tripId': trip.tripid}) }}"><i class="fa fa-edit fa-2x" ></i></a></p>#}
{#                            </td>#}

{#                        </tr>#}
{#                    {% endfor %}#}

{#                </tbody>#}
{#            </table>#}
    </div>








{% endblock %}

