{% extends 'base.html.twig' %}

{% block title %}Trips{% endblock %}

{% block stylesheets %}

    {#    <link rel="stylesheet" href="/css/fixedHeader.dataTables.min.css">#}
{#    <link rel="stylesheet" href="/css/datatables.min.css">#}
{#    <link rel="stylesheet" href="/css/fixedHeader.dataTables.min.css">#}
    {{ encore_entry_link_tags('displays_app') }}

{% endblock %}

{% block body %}


    <div class="container">
        <h1>TRIPS</h1>
{#        <ul class="nav nav-pills">#}
        <ul class="nav nav-tabs">
            <li class="active">
                <a data-toggle="tab" href="#trips-all" class="btn btn-primary mx-2">All trips</a>
            </li>
            <li>
                <a data-toggle="tab" href="#trips-for-investigator" class="btn btn-primary mx-2">For investigators</a>
            </li>
            <li>
                <a data-toggle="tab" href="#trips-for-station" class="btn btn-primary mx-2">For stations</a>
            </li>

        </ul>
        <div class="tab-content clearfix">
            <div class="tab-pane active" id="trips-all">
                <h1>ALL</h1>
                <table class="table-hover table-bordered display" id="TableAllTrips" width="100%">
                    <thead>
                    {% set headerRow =
                        "<tr>
                                <th>Start Date [Nb days]</th>
                                <th>Cruise Plancode</th>
                                <th>Campaign(s)</th>
                                <th>Status</th>
                                <th>Destination</th>
                                <th>Ship</th>
                            </tr>"
                    %}
                    {{ headerRow | raw }}
                    </thead>
                    <tfoot> {{ headerRow | raw }}</tfoot>
                </table>

            </div>
            <div class="tab-pane" id="trips-for-investigator">
                <h1>Trips to amend (investigators to create)</h1>
                <table class="table-hover table-bordered display" id="TableTripsInvestigators" width="100%">
                    <thead>
                    {% set headerRow =
                        "<tr>
                                    <th>Start Date</th>
                                    <th>Cruise Plancode</th>
                                    <th>Number investigators</th>
                                    <th>Non registered<br>investigators</th>
                                    <th>Edit</th>
                                </tr>"
                    %}
                    {{ headerRow | raw }}
                    </thead>
                    <tfoot> {{ headerRow | raw }}</tfoot>
                </table>


            </div>
            <div class="tab-pane" id="trips-for-station">
                <h1>Trips to amend (stations to create)</h1>
                <table class="table-hover table-bordered display" id="TableTripsStations" width="100%">
                    <thead>
                    {% set headerRow =
                        "<tr>
                                    <th>Start Date</th>
                                    <th>Cruise Plancode</th>
                                    <th>Number stations</th>
                                    <th>Non registered<br>stations</th>
                                    <th>Edit</th>
                                </tr>"
                    %}
                    {{ headerRow | raw }}
                    </thead>
                    <tfoot> {{ headerRow | raw }}</tfoot>
                </table>


            </div>
        </div>

    </div>

{% endblock %}

{% block javascripts %}

    {{ encore_entry_script_tags('displays_app') }}

    <script type="text/javascript">
        $(document).ready( function () {
            fillTableAllTrips.init();
            fillTableTripInvestigators.init();
            fillTableTripStations.init();
        } );
    </script>



{% endblock %}

