{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <h3>List of campaigns</h3><a href="{{ path('campaign_create') }}" class="btn btn-success">Add a campaign</a>
        <table class="table-hover table-bordered display" id="myDataTable" width="100%">
            <thead>
                <tr>
                    <th>Campaign name </th>
                    <th>

                        Imis Project number </th>
{#                    <th>Notes</th>#}
                    <th>Cruises (by Plan Code)</th>
                </tr>
            </thead>
            <tbody>
            {% for campaign in campaigns %}
                <tr>
                    <td>{{ campaign.campaign}}
                        <a href="{{ path('campaign_details', {'campaignId': campaign.campaignid}) }}" ><i  class="fa fa-info-circle "></i></a>
                        <a href="{{ path('campaign_edit', {'campaignId': campaign.campaignid}) }}"><i class="fa fa-edit "></i></a>
                        <a href="{{ path('remove_campaign_warning', {'campaignId': campaign.campaignid}) }}" class=""><i style="color:red" class="fa fa-trash "></i></a>




                    </td>
                    <td>
                        {% set linkImis = 'http://www.vliz.be/en/imis?module=project&proid=' %}
                        {{ campaign.imisprojectnr }}
                        {% if (campaign.imisprojectnr is not null) and (campaign.imisprojectnr is not empty) %}
                        <a href="{{ linkImis }}{{campaign.imisprojectnr}}" target="_blank"><i class="fa fa-link"></i></a>
                        {% endif %}


                    </td>

{#                    <td>{{ campaign.memo |convert_encoding('UTF-8','CP1252')}}</td>#}

                    <td>
                        {% for cruise in campaign.cruise  %}
                            [{{ cruise.plancode }}]<a href="{{path('cruise_details', {'cruiseId': cruise.cruiseid})}}"><i class="fa fa-info-circle"></i></a>
                        {% endfor %}


                    </td>
                </tr>

            {% endfor %}

            </tbody>

        </table>
    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.2.1/dt-1.10.16/datatables.min.js"></script>
    <script src="{{ asset('js/myDataTable/tableSearchHeaders.js') }}"></script>


{% endblock %}
