{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/datatables.min.css">
    <link rel="stylesheet" href="/css/fixedHeader.dataTables.min.css">
{% endblock %}

{% block body %}

    <div class="container my-2">
        <div class="row">
            <div class="col-4">
                <h3>Investigators</h3>
            </div>
            <div class="col-8">
                <a href="{{ path('create_investigator') }}" class="btn btn-success">Add an investigator</a>
            </div>
        </div>

    </div>

    <div class="container my-2">
        <table class="table-hover table-bordered display" id="myDataTable" width="100%">
            <thead>
            {% set headerRow = "
            <tr>
                <th>Name</th>
                <th>Passenger type</th>
                <th>Activity</th>


            </tr>
            " %}

            {{ headerRow | raw }}
            </thead>

            <tfoot>
            {{ headerRow | raw }}
            </tfoot>
        </table>
    </div>



{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="/js/datatables.min.js"></script>
    {#    <script type="text/javascript" src="/js/myDataTable/tableSearchHeaders.js"></script>#}
    <script src="{{ '/bundles/fosjsrouting/js/router.min.js' }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

    <script type="text/javascript">
        $(document).ready( function () {
            //allow sorting date
            // $.fn.dataTable.moment("D/M/YYYY");

            //Add another header below the first
            // $('#myDataTable thead tr').clone().appendTo('#myDataTable thead');
            //
            // //Transform the second header row to have the search input fields
            // $('#myDataTable thead tr:odd th').each( function () {
            //     $(this).html('<input type="text" placeholder="Search" />');
            // });

            //Create the table
            var table =
                $('#myDataTable').DataTable({
                    dom: "<'row'<'col-sm-3'l><'col-sm-3'f><'col-sm-6'p>>" +
                        "<'row'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                    "ajax": {
                        "url": "api/getinvestigators",
                        "dataSrc" : ""
                    },

                    "order": [[0, "desc"]],
                    "columns" : [
                        {"data" : "fullname_comma"},
                        {"data" : "Passengertype"},

                        {"data" : "investigatorid"},
                        {"data" : "imisnr"},

                        {"data" : "inTripInvestigators"},
                        {"data" : "PI"}

                    ],
                    "columnDefs": [


                        {"targets": 3, "visible": false},
                        {"targets": 4, "visible": false},
                        {"targets": 5, "visible": false},

                        {
                            "targets" : 0,
                            "render": function(data, type, row) {
                                var investigatorOutput = data
                                    + '&nbsp <a href="'
                                    + Routing.generate('investigator_details', {investigatorId: row.investigatorid}) + '"><i class="fa fa-info-circle"></i></a>'
                                    + '&nbsp <a href="' + Routing.generate('edit_investigator', {investigatorId: row.investigatorid})
                                    + '"><i class="fa fa-edit"></i></a>';
                                if(row.inTripInvestigators ==null && row.PI ==null) {
                                    investigatorOutput += ('&nbsp <a href="' + Routing.generate('remove_investigator_warning', {investigatorId: row.investigatorid})
                                        + '"><i style="color:red" class="fa fa-trash"></i></a>');
                                }
                                if(row.imisnr !==null && row.imisnr !== ''){
                                    investigatorOutput += ('&nbsp&nbsp<a href="http://www.vliz.be/en/imis?module=person&persid='
                                        + row.imisnr  + '" target= "blank" title="OpenImisLink"><i class = "fa fa-link"></i></a>');
                                }

                                ;
                                return investigatorOutput;
                            }
                        },
                        {
                            "targets": 2,
                            "render": function(data, type, row) {
                                var activity ='';
                                if(row.PI !== null) {
                                    activity += '(PI) ';
                                }
                                if(row.inTripInvestigators !== null) {
                                    activity += '(Trip)';
                                }
                                return activity;
                            }
                        },


                    ]
                });


        } );
    </script>



{% endblock %}
