{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="card" >
            <div class="card-header">
                <div class="row">
                    <div class="col">
                        <h3>Trip  {{ trip.startdate | date('d/m/Y')}} - {{ trip.enddate | date('d/m/Y')}}</h3>
                    </div>
                    <div class="col">
                        <a href="{{ path('trip_edit', {'tripId': trip.tripid}) }}"><i
                                    class="fa fa-edit fa-5x"></i></a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <p>Destination: {% if trip.destinationarea %}{{ trip.destinationarea }}
                {% else %}N.A.{% endif %}</p>
                <p>Cruise: {% if trip.cruiseid %}{{ trip.cruiseid.getPlanCode }}
                {% else %}N.A.{% endif %}</p>
                <p>Campaign(s):
                    {% if trip.cruiseid %}
                    {% for campaign in trip.cruiseid.campaign %}
                        "{{ campaign.campaign }}"
                        {% if loop.last %}{% else %}, {% endif %}
                    {% endfor %}
                    {% endif %}
                </p>
                <p>Start and end points: {{ trip.startpoint }}-{{ trip.endpoint }}</p>
                <p>Ship: {{ trip.ship }}</p>
                <p>Trip stations:</p>
                {% for tripstation in trip.tripstations %} <p style="line-height: 40%">&nbsp;&nbsp;&nbsp;&nbsp;&#8226;{{ tripstation.stationnr.code}}
                </p>{% endfor %}


                <p>trip investigators:</p>
                    {% for tripinvestigator in trip.tripinvestigators %} <p style="line-height: 40%">&nbsp;&nbsp;&nbsp;&nbsp;&#8226;{{ tripinvestigator.firstname }} {{ tripinvestigator.surname }}
                    {% if tripinvestigator.investigatornr is null or tripinvestigator.investigatornr is empty%}
                        &nbsp;(not in investigators)</p>

                    {% endif %}
                    {% endfor %}


            </div>
        </div>
    </div>
</div>

{% endblock %}