{% extends 'base.html.twig' %}

{% block title %}Cruises{% endblock %}

{% block stylesheets %}<link rel="stylesheet" href="/css/fixedHeader.dataTables.min.css">{% endblock %}


{% block body %}
{#    {% for cruise in cruises %}#}
{#        <p>{{ cruise.destination }}</p>#}
{#    {% endfor %}#}

    <div class="container">

        <h1>Cruises</h1>

        {% if cruisesForCampaign %}
            <p>IMIS {{ campaign.imisprojectnr }}</p>
            <p>"{{ campaign.campaign }} "</p>
        {% endif %}


{#    <div class="table-responsive">#}
    <table class="table-hover table-bordered display" id="myDataTable" width="100%">
        <thead>
        {% set headerRow = "
            <tr>

                <th>Cruise Plan Code</th>
                <th>Start date<br>End date</th>
                <th>Campaigns</th>
                <th>Principal Investigator</th>



                <th>Number of<br>Trips</th>

            </tr>"  %}


        {{ headerRow | raw}}

        </thead>
        <tbody>
            {% set cruisesForDisplay = [] %}
            {% if cruisesForCampaign %} {% set cruisesForDisplay = campaign.cruise %}
            {% else %} {% set cruisesForDisplay = cruises %}{% endif %}
            {% for cruise in cruisesForDisplay  %}
                <tr>

                    <td>{{ cruise.plancode}}  <a href="{{path('cruise_details', {'cruiseId': cruise.cruiseid})}}"><i class="fa fa-info-circle"></a></td>
                    <td><span style="display:none">{{ cruise.startdate|date('Y/m/d')}}</span>
                        {% if cruise.trips %}{% set nbTrips = cruise.trips|length %}{% endif %}
                        {{ cruise.startdate|date('d/m/Y')}}

                        {% if cruise.trips|length>0 %}
                        ({{ cruise.trips[0].startdate|date('d/m/Y') }})   <br> {% endif %}


                        {{ cruise.enddate|date('d/m/Y')}}
                        {% if cruise.trips|length>0 %}
                        ({{ cruise.trips[nbTrips-1].startdate|date('d/m/Y') }})  {% endif %}

                    </td>
{#                    <td><span style="display:none">{{ cruise.enddate|date('Y/m/d')}}</span>{{ cruise.enddate|date('d/m/Y')}}</td>#}
                    <td>{% for singleCampaign in cruise.campaign %}
                            {{ singleCampaign.campaign  }}
                            <a href="{{ path('campaign_details', {'campaignId':singleCampaign.campaignid}) }}"><i class="fa fa-info-circle"></i></a><br>
                        {% endfor %}
                    </td>
                    <td>
                        {% set arrayOrphanIds = [0, 264, 549, 556, 637] %}
                        {% if cruise.principalinvestigator is not empty and cruise.principalinvestigator.investigatorid not in arrayOrphanIds %}
                            {{ cruise.principalinvestigator.firstname |convert_encoding('UTF-8','CP1252') }}
                            {{ cruise.principalinvestigator.surname |convert_encoding('UTF-8','CP1252') }}
                        {% endif %}
                    </td>






{#                    <td>{% for trip in cruise.trips %}{{ trip.destinationarea }}<br>{% endfor %}</td>#}
                    <td>{{ cruise.trips | length }}</td>

                </tr>


            {% endfor %}
        </tbody>
        <tfoot>


        {{ headerRow | raw}} {# Variable containing columns headers, see above #}
        </tfoot>


    </table>
    ></div>
{#    </div>#}


{#    {{ dump(investigators) }}#}

{% endblock %}

{% block javascripts %}

{#    <script src="/js/dataTables.fixedHeader.min.js"></script>#}
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>#}
{#    <script src="https://cdn.datatables.net/plug-ins/1.10.20/sorting/datetime-moment.js"></script>#}

    <script src="/js/myDataTable/tableSearchHeaders.js"></script>


{% endblock %}
